<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Forgot Password</h1>
    <!--Content Row-->
    <div class="row">
        <!--Content Column-->
        <div class="col-lg-6 mb-4">
            <!--your content here-->

        </div>
    </div>

</div>