@model List<Models.CustomerModel>
@{
    ViewData["Title"] = "Customer Page";
}

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">List Customer</h1>
    <!-- Content Row -->
    <div class="row">
        <div class="col-lg-12 mb-4">
            <div>
                <a asp-action="Create" asp-controller="Customer" class="btn btn-primary">Creaet New</a>
            </div>
            <br>
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">List Customer</h6>
                </div>
                <div class="card-body">
                    <div class="table table-responsive">
                        <table class="table table-bordered" id="dataTable">
                            <thead>
                                <tr>
                                    <th>Customer Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.Name</td>
                                            <td>@item.Email</td>
                                            <td>@item.Phone</td>
                                            <td>
                                                <a asp-action="Edit" asp-controller="Customer" class="btn btn-warning">Edit</a>
                                                <a asp-action="Delete" asp-controller="Customer"
                                                    class="btn btn-danger">Delete</a>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
