@{
    ViewData["Title"] = "Submit Page";
}
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Submit Customer</h1>
    <!--Content Row-->
    <div class="row">
        <!--Content Column-->
        <div class="col-lg-6 mb-4">
            <!--your content here-->
            <div class="alert alert-danger">
                <h1>Error on submit</h1>
                <p>please check your data input.!</p>
            </div>

            <a asp-action="Index" asp-controller="Customer" class="btn btn-secondary">Back</a>
        </div>
    </div>

</div>
