USE [mapdb]
GO
/****** Object:  Table [dbo].[USERMENU]    Script Date: 11/27/2023 7:29:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERMENU](
	[RECID] [bigint] NOT NULL,
	[MENUID] [nchar](10) NOT NULL,
	[GROUPID] [nchar](10) NULL,
 CONSTRAINT [PK_USERMENU] PRIMARY KEY CLUSTERED 
(
	[RECID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_USERMENU] UNIQUE NONCLUSTERED 
(
	[RECID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_USERMENU_GROUP] UNIQUE NONCLUSTERED 
(
	[GROUPID] ASC,
	[MENUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[USERMENU]  WITH CHECK ADD  CONSTRAINT [FK_USERMENU_MENUTABLE] FOREIGN KEY([MENUID])
REFERENCES [dbo].[MENUTABLE] ([MENUID])
GO
ALTER TABLE [dbo].[USERMENU] CHECK CONSTRAINT [FK_USERMENU_MENUTABLE]
GO
ALTER TABLE [dbo].[USERMENU]  WITH CHECK ADD  CONSTRAINT [FK_USERMENU_USERGROUP] FOREIGN KEY([GROUPID])
REFERENCES [dbo].[USERGROUP] ([GROUPID])
GO
ALTER TABLE [dbo].[USERMENU] CHECK CONSTRAINT [FK_USERMENU_USERGROUP]
GO
