USE [mapdb]
GO
/****** Object:  StoredProcedure [dbo].[SP_CREATE_USER]    Script Date: 11/27/2023 7:29:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CREATE_USER]
@USERID NCHAR (10), @USERNAME NCHAR (30), @PASSWORD NCHAR (255), @GROUPID NCHAR (10)
AS
BEGIN
    INSERT  INTO [dbo].[USERINFO] ([RECID], [USERID], [USERNAME], [PASSWORD], [GROUPID])
    VALUES                       (REPLACE(CONVERT (NVARCHAR, GETDATE(), 112) + CONVERT (VARCHAR, GETDATE(), 114), ':', ''), @USERID, @USERNAME, @PASSWORD, @GROUPID);
END

GO
