USE [mapdb]
GO
/****** Object:  StoredProcedure [dbo].[SP_CREATE_MENU]    Script Date: 11/27/2023 7:29:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CREATE_MENU]
@MENUID NCHAR (10), @MENUNAME NCHAR (30)
AS
BEGIN
    INSERT  INTO [dbo].[MENUTABLE] ([RECID], [MENUID], [MENUNAME])
    VALUES                        (REPLACE(CONVERT (NVARCHAR, GETDATE(), 112) + CONVERT (VARCHAR, GETDATE(), 114), ':', ''), @MENUID, @MENUNAME);
END

GO
