USE [mapdb]
GO
/****** Object:  Table [dbo].[USERINFO]    Script Date: 11/27/2023 7:29:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERINFO](
	[RECID] [bigint] NOT NULL,
	[USERID] [nchar](10) NOT NULL,
	[USERNAME] [nchar](30) NULL,
	[PASSWORD] [nchar](255) NULL,
	[GROUPID] [nchar](10) NULL,
 CONSTRAINT [PK_USERINFO_1] PRIMARY KEY CLUSTERED 
(
	[USERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_USERINFO_1] UNIQUE NONCLUSTERED 
(
	[RECID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[USERINFO]  WITH CHECK ADD  CONSTRAINT [FK_USERINFO_USERGROUP] FOREIGN KEY([GROUPID])
REFERENCES [dbo].[USERGROUP] ([GROUPID])
GO
ALTER TABLE [dbo].[USERINFO] CHECK CONSTRAINT [FK_USERINFO_USERGROUP]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'USERINFO', @level2type=N'CONSTRAINT',@level2name=N'FK_USERINFO_USERGROUP'
GO
