USE [mapdb]
GO
/****** Object:  StoredProcedure [dbo].[SP_SELECT_CUSTOMER]    Script Date: 11/27/2023 7:29:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SELECT_CUSTOMER] AS 
BEGIN
SELECT * FROM CUSTOMERTABLE;
END
GO
