USE [mapdb]
GO
/****** Object:  Table [dbo].[CUSTOMERTABLE]    Script Date: 11/27/2023 7:29:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMERTABLE](
	[RECID] [bigint] IDENTITY(1,1) NOT NULL,
	[CUSTID] [nchar](255) NOT NULL,
	[NAME] [char](30) NULL,
	[EMAIL] [nchar](20) NULL,
	[USERID] [nchar](10) NULL,
	[PHONE] [nchar](12) NULL,
 CONSTRAINT [PK_CUSTOMERTABLE] PRIMARY KEY CLUSTERED 
(
	[CUSTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_CUSTOMER_EMAIL] UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_CUSTOMER_PHONE] UNIQUE NONCLUSTERED 
(
	[PHONE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_CUSTOMERTABLE_RECID] UNIQUE NONCLUSTERED 
(
	[RECID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CUSTOMERTABLE]  WITH CHECK ADD  CONSTRAINT [FK_CUSTOMERTABLE_USERINFO] FOREIGN KEY([USERID])
REFERENCES [dbo].[USERINFO] ([USERID])
GO
ALTER TABLE [dbo].[CUSTOMERTABLE] CHECK CONSTRAINT [FK_CUSTOMERTABLE_USERINFO]
GO
